<!DOCTYPE html>
<html ng-app="speakEasy">
<head>
	<title>
		Speak Easy | Machine Learning
	</title>

  <!-- Open Graph tags for sharing on social -->
  <meta property="og:url"           content="http://localhost:1337/#/landing" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="SpeakEasy Machine Learning" />
  <meta property="og:description"   content="SpeakEasy has learned to talk and learns faster thanks to all the users in its network." />
  <meta property="og:image"         content="assets/img/neuronLogo.png" />
 <!--  <meta property="og:image"         content="https://s-media-cache-ak0.pinimg.com/236x/c8/4a/3e/c84a3ec1066dfeb938a32b503aafa0b7.jpg" /> -->

  <!-- angular-chart.js | see: http://jtblin.github.io/angular-chart.js/ for info -->
  <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">

  <!-- icon font for Material -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- social media icons font | see: http://zavoloklom.github.io/material-design-iconic-font/index.html for info -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  <!-- Lora font for coolness CURRENTLY *UN*USED -->
  <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <!-- Lato font for coolness CURRENTLY **USED** -->
  <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700' rel='stylesheet' type='text/css'>
  <!-- our CSS file -->
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
	<link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.min.css">
</head>
<body>
  
<!-- *** The below script is for Facebook SDK *** -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '932650913454857',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<!-- ***   ***   ***   ***   ***   ***   ***   *** -->

  <md-content ng-cloak ng-controller="toolBarCtrl">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button aria-label="label" class="md-icon-button md-accent" ng-click="goToLanding()">
          <md-icon>home</md-icon>
        </md-button>
        <button class="toolButton mainButton" ng-click="goToInfo()">About</button>
        <button class="toolButton mainButton" ng-click="goToChat()">SpeakEasy Chat</button>
        <button class="toolButton mainButton" ng-click="goToDownload()">Download</button>
        <button class="toolButton mainButton" ng-click="goToMetrics()">Data</button>
        <div flex></div>
        <button class="toolButton loginButton" ng-click="goToLogin($event)">Login</button>
        <button class="toolButton logoutButton" ng-click="signout()">Logout</button>
      </div>
    </md-toolbar>
  </md-content>

  <div ui-view>
    <!-- stuff goes here (our app) -->
  </div>

  <footer>
      <div layout="row" layout-align="center center">
          <h2>My Awesome Footer</h2>
      </div>
  </footer>
</body>
  <!-- Angular Material Stuff -->
  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-material/angular-material.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

  <!-- chart.js dependency for angular-chart -->
  <!-- // <script type="text/javascript" src="chart/chart.js"></script> -->

  <!-- Angular Chart Library see: http://jtblin.github.io/angular-chart.js/ -->
  <script type="text/javascript" src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
  <!-- Our App Stuff -->
  <script type="text/javascript" src="app/app.js"></script>
  <script type="text/javascript" src="home/home.js"></script>
  <script type="text/javascript" src="landing/landing.js"></script>
  <script type="text/javascript" src="toolbar/toolBar.js"></script>
  <script type="text/javascript" src="dialog/dialog.js"></script>
  <script type="text/javascript" src="about/about.js"></script>
  <script type="text/javascript" src="services/services.js"></script>
  <script type="text/javascript" src="chat/chat.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/client_rtc/speakEasy_DataChannel.js"></script>
  <script src="/client_rtc/speakEasy_Inject.js"></script>
  <script src="/client_rtc/speakEasy_Signaler.js"></script>

  <script>
  var SpeakEZ = new SpeakEasyBuild(DataChannel);
  SpeakEZ.init(socketListener,"/");

  // document.getElementById('input-text-chat').onkeyup = function(e) {
  //   if(e.keyCode != 13 || !this.value.length) return;
  //   SpeakEZ.LocalDataChannel.send(this.value);
  //   this.value =  '';
  // };
  </script>
  
</html>

