.landing {
  /* neural network by theLastWanderer at http://anselm1.deviantart.com/favourites/65727698/neuronal-network-illustrations */
  background: url('http://orig13.deviantart.net/5bf1/f/2011/111/b/a/neural_network_by_los_mandoade-d3eim1d.jpg') no-repeat center center fixed;
  background-size: cover;
}

.mainLogo {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
}
