.landing {
  /* neural network by theLastWanderer at http://anselm1.deviantart.com/favourites/65727698/neuronal-network-illustrations */
}

.mainLogo {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
}
