<div ng-controller="toolBarCtrl"  ng-cloak>
  <div class="viewContentBox landingPageBackground" layout="row">

  </div>

  <div class="mainLandingText">
    <h2>SpeakEasy</h2>
    <h1 class="landingSubheader">Get the extension. Help it learn.<h1>
    <h3 class="landingInfo">SpeakEasy is designed to interpret and respond to human speech.<br> 
      The more computers in the network, the faster it learns.</h3>
    <button ng-controller="toolBarCtrl" class="mainButton" ng-click="goToDownload()">Download</button>
  </div>

  <div>
    <md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
      <div layout="row" layout-align="center center">
        <div flex="30" class="md-padding" ng-click="goToChat()">
          <md-card class="mainCard">
            <div class="cardImage landingLeftImage">
              <div class="cardHeader">
                <h2> A Talk With SpeakEasy</h2>
              </div>
            </div>
            <md-card-content>
              <p class="cardContent">
                SpeakEasy has been taught to speak thanks to users like you. You should stop by and have a chat with it!
              </p>
            </md-card-content>
          </md-card>
        </div>
        <div flex="30" class="md-padding" ng-click="goToInfo()">
          <md-card class="mainCard">
            <div class="cardImage landingMidImage">
              <div class="cardHeader">
                <h2> More About SpeakEasy</h2>
              </div>
            </div>
            <md-card-content>
              <p class="cardContent">
                What is SpeakEasy? How, exactly, does it work? Learn all you could want (and probably more, honestly).
              </p>
            </md-card-content>
          </md-card>
        </div>
        <div flex="30" class="md-padding" ng-click="goToMetrics()">
          <md-card class="mainCard">
            <div class="cardImage landingRightImage">
              <div class="cardHeader">
                <h2> SpeakEasy Information</h2>
              </div>
            </div>
            <md-card-content>
              <p class="cardContent">
                We think SpeakEasy's pretty sweet, and we've got all kinds of info and data to check out. We hope you agree!
              <!--    We carefully collect all kinds of data as SpeakEasy works. We think it's pretty sweet, and we hope you do too! -->
              </p>
            </md-card-content>
          </md-card>
        </div>
    </md-content>
  </div>
</div>

<!-- This is md-card style 1.0 (pic, header, words, white background, bottom icon-based button)

<div flex="30" class="md-padding">
          <md-card>
            <img ng-src="http://images.freeimages.com/images/previews/60e/bar-graph-1165986.jpg" class="md-card-image landingCardImage" alt="Washed Out">
            <md-card-content>
              <h2>SpeakEasy's Metrics</h2>
              <md-divider></md-divider>
              <p class="landingCardContent">
                We carefully collect all kinds of data as SpeakEasy works. We think it's pretty sweet, and we hope you do too!
              </p>
            </md-card-content>
            <div layout="row" layout-align="center center">
              <md-button layout-align="center" class="md-fab md-primary" aria-label="Login" ng-click="goToMetrics()">
                <md-icon>equalizer</md-icon>
                <md-tooltip md-direction="bottom">
                  See our data
                </md-tooltip>
              </md-button>
            </div>
          </md-card>
        </div>

-->

<!-- The stuff below is the original SpeakEasy logo, we can definitely revisit using it!
<div class="landingRowOneContent">

  <img class="speakEzLogo" src="assets/img/neuronLogo.png">
</div>
-->
