<div ng-controller="toolBarCtrl"  ng-cloak>
  <div id="container" layout="row">
      <canvas width='1200' height='370' id="hero-bar" class="chart chart-line chart-xl" chart-data="data" chart-options="options" chart-labels="labels" style="display: block;" chart-colours="chartColors"></canvas>
    <div class="mainLandingText">
      <h1 class="landingSubheader">SpeakEasy<h1>
      <h2>Machine Learning, that speaks for itself</h2>
      <h3 class="landingInfo">SpeakEasy is designed to interpret and respond to human speech.<br> 
        The more computers in the network, the faster it learns.</h3>
      <button class="landingLoginButton landingButton" ng-click="goToLogin($event)">Login</button>
      <button class="landingChatButton landingButton" ng-click="goToChat($event)">Chat</button>
    </div>
  </div>



    <md-content layout="row" layout-wrap layout-align="center start" style="margin:-1%;width:100%;">
      <div layout="row" layout-align="center center">
        <div flex="30" class=" landingCardLink " ng-click="goToChat()">
          <md-card class="mainCard">
            <div class="cardImage landingLeftImage">
              <div class="cardHeader">
                <h2> A Talk With SpeakEasy</h2>
              </div>
            </div>
            <md-card-content>
              <p class="cardContent">
                SpeakEasy has been taught to speak thanks to users like you. You should stop by and have a chat with it!
              </p>
            </md-card-content>
          </md-card>
        </div>
        <div flex="30" class="landingCardLink md-padding" ng-click="goToInfo()">
          <md-card class="mainCard">
            <div class="cardImage landingMidImage">
              <div class="cardHeader">
                <h2> More About SpeakEasy</h2>
              </div>
            </div>
            <md-card-content>
              <p class="cardContent">
                What is SpeakEasy? How, exactly, does it work? Learn all you could want (and probably more, honestly).
              </p>
            </md-card-content>
          </md-card>
        </div>
        <div flex="30" class=" landingCardLink md-padding" ng-click="goToMetrics()">
          <md-card class="mainCard">
            <div class="cardImage landingRightImage">
              <div class="cardHeader">
                <h2> SpeakEasy Information</h2>
              </div>
            </div>
            <md-card-content>
              <p class="cardContent">
                We think SpeakEasy's pretty sweet, and we've got all kinds of info and data to check out. We hope you agree!
              <!--    We carefully collect all kinds of data as SpeakEasy works. We think it's pretty sweet, and we hope you do too! -->
              </p>
            </md-card-content>
          </md-card>
        </div>
    </md-content>

</div>
<footer>
    <div layout="row" layout-align="center center">
        <h2>My Awesome Footer</h2>
        <a href="https://github.com/Charging-Alot/SpeakEasy" target="_blank" style="text-decoration: none;">
          <md-button aria-label="GitHub" class="md-raised md-button md-ink-ripple" style="text-decoration: none;text-transform:none;">
          GitHub
            <i class="zmdi zmdi-github zmdi-hc-lg speedDialIcon"></i>
            <md-tooltip md-direction="top">
              Check us out on GitHub!
            </md-tooltip>
          </md-button>
        </a>
    </div>
</footer>
  
