<div ng-cloak class="chatMain">
  <md-content layout="row" layout-padding layout-wrap layout-fill class="chatMain">
    <div flex="10"></div>
    <md-whiteframe flex="80" class="md-whiteframe-5dp chatFrame">
      <md-toolbar class="md-primary whiteframeHeader chatBoxHeader">
        <div class="md-toolbar-tools">
          <h2 class="md-flex">Chat With SpeakEasy</h2>
        </div>
      </md-toolbar>
      <div class="chatBoxWrap">
        <div layout="column" class="chatBox">
          <!-- chat messages get appended here -->
        </div>
      </div>
      <div layout="row" class="messageInput">
        <form ng-submit="sendMessage()" flex>
        <md-input-container class="chatLine">
          <label>Message</label>
          <input type="message" ng-model="message.text" ng-enter="sendMessage()">
        </md-input-container>
        </form>
        <md-button layout-align="center" class="md-fab md-primary chatButton" aria-label="Login" ng-click="sendMessage()"> 
          <md-icon>input</md-icon>
          <md-tooltip md-direction="bottom">
            Submit
          </md-tooltip>
        </md-button>
      </div>
    </md-whiteframe>
    <div flex="10"></div>
  </md-content>
  <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
  </div>
</div>
