<div ng-cloak class="chatMain">
  <md-content layout="row" layout-padding layout-wrap layout-fill>
    <div flex="5"></div>
    <md-whiteframe flex="80" class="md-whiteframe-5dp chatFrame">
      <md-toolbar class="whiteframeHeader chatBoxHeader">
        <div class="md-toolbar-tools">
          <h2>Chat With SpeakEasy</h2>
          <div flex></div>
          <md-fab-speed-dial md-direction="left" ng-class="md-fab-top-right md-scale"> <!--fling can also be scale-->
            <md-fab-trigger>
              <md-button class="md-primary md-raised md-icon-button">
                <md-icon>more_horiz</md-icon>
                <md-tooltip md-direction="bottom">
                  Share
                </md-tooltip>
              </md-button>
            </md-fab-trigger>
            <md-fab-actions>
              <a href="http://www.reddit.com/submit?url=http%3A%2F%2Fspeakez.tk%2F%23%2Flanding&title=SpeakEasy%20Machine%20Learning" target="_blank">
                <md-button aria-label="Reddit" class="md-fab md-raised md-mini">
                  <i class="zmdi zmdi-reddit zmdi-hc-lg speedDialIcon"></i>
                  <md-tooltip md-direction="bottom">
                    Reddit
                  </md-tooltip>
                </md-button>
              </a>
              <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fspeakez.tk%2F%23%2Flanding&text=Check%20out%20this%20site%20and%20chat%20with%20this%20funny%20little%20robot!%20Sign%20up%20and%20help%20it%20learn%20faster!" target="_blank">
                <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
                  <i class="zmdi zmdi-twitter zmdi-hc-lg speedDialIcon"></i>
                  <md-tooltip md-direction="bottom">
                    Twitter
                  </md-tooltip>
                </md-button>
              </a>
              <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fspeakez.tk%2F%23%2Flanding" target="_blank">
                <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
                  <i class="zmdi zmdi-facebook zmdi-hc-lg speedDialIcon"></i>
                  <md-tooltip md-direction="bottom">
                    Facebook
                  </md-tooltip>
                </md-button>
              </a>
            </md-fab-actions>
          </md-fab-speed-dial>
        </div>
      </md-toolbar>
      <div class="chatBoxWrap">
        <div layout="column" class="chatBox">
          <!-- chat messages get appended here -->
        </div>
      </div>
      <div layout="row" class="messageInput">
        <form ng-submit="sendMessage()" flex>
        <md-input-container class="chatLine">
          <label>Message</label>
          <input type="message" ng-model="message.text">
        </md-input-container>
        </form>
        <md-button layout-align="center" class="md-fab md-accent chatButton" aria-label="Login" ng-click="sendMessage()"> 
          <md-icon style="color: white;">input</md-icon>
          <md-tooltip md-direction="bottom">
            Submit
          </md-tooltip>
        </md-button>
      </div>
    </md-whiteframe>
    <div flex="55"></div>
    <md-card flex="35" class="chatGraphs" layout-align="center" layout="column">
      <h4>Perplexity Over Time While Training</h4>
      <div class="chatGraphWrap">
        <canvas id="line" class="chart chart-line" chart-data="data" chart-colours="chartColors"
        chart-labels="labels" chart-legend="false" chart-series="series">
        </canvas>
      </div>
      <p class='chatGraphInfo'>
        "Perplexity" is used to determine how 'correct' or 'incorrect' Marvin's response to a given statement is.
        The higher the perplexity, the more wrong the response.
      </p>
      <p class='chatGraphInfo'>
        Marvin is trained with the same data set and is
        expected to respond a certain way every time. As he sees the same inputs over and over, he gets better and
        better at giving the right responses. At first, he's way off. Eventually, he always in the same range of correctness.
      </p>.
    </md-card>
    <!-- <div flex="10"></div> -->
  </md-content>
</div>
