<div ng-cloak class="chatMain">
  <md-content layout="row" layout-padding layout-wrap layout-fill class="chatMain">
    <div flex="10"></div>
    <md-whiteframe flex="80" class="md-whiteframe-5dp chatFrame">
      <md-toolbar class="whiteframeHeader chatBoxHeader">
        <div class="md-toolbar-tools">
          <h2>Chat With SpeakEasy</h2>
          <div flex></div>
          <md-fab-speed-dial md-direction="left" ng-class="md-fab-top-right md-scale"> <!--fling can also be scale-->
            <md-fab-trigger>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fspeakez.tk%2F%23%2Flanding" target="_blank">
</a>
              <md-button class="md-primary md-raised md-icon-button">
                <md-icon>more_horiz</md-icon>
                <md-tooltip md-direction="bottom">
                  Share
                </md-tooltip>
              </md-button>
            </a>
            </md-fab-trigger>
            <md-fab-actions>
              <md-button aria-label="Reddit" class="md-fab md-raised md-mini">
                <i class="zmdi zmdi-reddit zmdi-hc-lg speedDialIcon"></i>
                <md-tooltip md-direction="bottom">
                  Reddit
                </md-tooltip>
              </md-button>
              <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
                <i class="zmdi zmdi-twitter zmdi-hc-lg speedDialIcon"></i>
                <md-tooltip md-direction="bottom">
                  Twitter
                </md-tooltip>
              </md-button>
              <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
                <i class="zmdi zmdi-facebook zmdi-hc-lg speedDialIcon"></i>
                <md-tooltip md-direction="bottom">
                  Facebook
                </md-tooltip>
              </md-button>
<!--               <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
                <md-icon md-svg-src="img/icons/twitter.svg" aria-label="Twitter"></md-icon>
              </md-button>
              <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
                <md-icon md-svg-src="img/icons/facebook.svg" aria-label="Facebook"></md-icon>
              </md-button>
              <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
                <md-icon md-svg-src="img/icons/hangout.svg" aria-label="Google Hangout"></md-icon>
              </md-button> -->
            </md-fab-actions>
          </md-fab-speed-dial>
        </div>
      </md-toolbar>
      <div class="chatBoxWrap">
        <div layout="column" class="chatBox">
          <!-- chat messages get appended here -->
        </div>
      </div>
      <div layout="row" class="messageInput">
        <form ng-submit="sendMessage()" flex>
        <md-input-container class="chatLine">
          <label>Message</label>
          <input type="message" ng-model="message.text">
        </md-input-container>
        </form>
        <md-button layout-align="center" class="md-fab md-accent chatButton" aria-label="Login" ng-click="sendMessage()"> 
          <md-icon style="color: white;">input</md-icon>
          <md-tooltip md-direction="bottom">
            Submit
          </md-tooltip>
        </md-button>
      </div>
    </md-whiteframe>
    <div flex="10"></div>
  </md-content>
  <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
  </div>
</div>
