<md-dialog ng-controller="DialogCtrl" aria-label="SpeakEasy Login" ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Login</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="closeDialog()">
        <md-icon>highlight_off</md-icon>
        <md-tooltip md-direction="bottom">
          Close
        </md-tooltip>
      </md-button>
    </div>
  </md-toolbar>
  <p class="dialogErrorMessage">{{ dialogMessage }}</p>
  <form name="userLogin" ng-submit="login()">
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container flex>
          <label>email</label>
          <input type="email" ng-model="user.email">
        </md-input-container>
        <md-input-container flex>
          <label>password</label>
          <input type="password" ng-model="user.password">
        </md-input-container>
        <div layout="row" layout-align="center center">
          <md-button layout-align="center" class="md-fab md-primary" aria-label="Login" ng-click="login()">
            <md-icon>input</md-icon>
            <md-tooltip md-direction="bottom">
              Submit
            </md-tooltip>
          </md-button>
        </div>
        <md-divider></md-divider>
        <div layout="row" layout-align="center center">
          <md-button class="md-warn" ng-click="goToSignup()">Not a user?</md-button>
          <md-tooltip md-direction="bottom">
            Go to Signup
          </md-tooltip>
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
