<md-dialog ng-controller="DialogCtrl" aria-label="SpeakEasy signup"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Signup</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <md-icon>highlight_off</md-icon>
          <md-tooltip md-direction="bottom">
            Close
          </md-tooltip>
        </md-button>
      </div>
    </md-toolbar>
      <md-dialog-content>
        <div class="md-dialog-content">
          <form name="userSignup" ng-submit="signup()">
            <md-input-container flex>
              <label>email</label>
              <input type="email" ng-model="user.email">
            </md-input-container>
            <md-input-container flex>
              <label>password</label>
              <input type="text" ng-model="user.password">
            </md-input-container>
            <md-input-container flex>
              <label>confirm password</label>
              <input type="text" ng-model="user.passwordConfirmation"/>
            </md-input-container>
          </form>
          <div layout="row" layout-align="center center">
            <md-button class="md-fab md-primary" aria-label="Login" ng-click="signup()">
              <md-icon>input</md-icon>
              <md-tooltip md-direction="bottom">
                Submit
              </md-tooltip>
            </md-button>
          </div>
        </div>
      </md-dialog-content>

    <!-- <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Not Useful
      </md-button>
      <md-button ng-click="answer('useful')" style="margin-right:20px;">
        Useful
      </md-button>
    </md-dialog-actions> -->
  </form>
</md-dialog>
